{% load static %}
<div class="container">
<div class="row">
  <h4 class="col-12 text-center mb-4 rounded bg-dark text-white py-3">{{ title }}</h4>
  {% for product in products %}
  <div class="col-12 col-md-4 mt-3">
    <img class="position-absolute" style="right:0;top:-10px;z-index: 1;" src="{% static 'substitut_search/img/nutriscores/' %}{{product.nutriscore}}-min.png" alt="{{ product.nutriscore }}">
    <div class="card">
      <img src="{{ product.image }}" alt="Photo du produit" class="card-img-top" style="max-height: 200px">
      <div class="card-body">
        <p class="card-title h6">{{ product.name }}</p>
        <form class="form-inline" action="{% url action %}" method="get">
          {% csrf_token %}
          <input type="hidden" class="hidden" value="{{ product.pk }}" name="product_id">
          <button type="submit" class="btn btn-primary">{{ button_title }}</button>
        </form>
        {% if save %}
          {% if product in user.profile.favories.all %}
          <p class="mt-2">Produit déjà sauvegardé</p>
          {% else %}
          <div class="save_container">
            <button class="btn btn-primary mt-3 dropdown-toggle dropdownButton" id="dropdownButton" data-toggle="dropdown" aria-hashpopup="true" aria-expanded="false" {% if not user.is_authenticated %} title="Veuillez vous connecter pour sauvegarder vos produits" disabled {% endif %}><i class="fas fa-save mr-3"></i>Sauvegarder</button>
            <form class="save_form dropdown-menu" aria-labelledby="dropdownButton" action="{% url 'substitut:favories' %}">
              {% csrf_token %}
              <input type="hidden" class="hidden" value="{{ product.pk }}" name="product_id">
              <input type="text" list="tags" name="fav_tag" placeholder="Indiquer un nom de liste">
              <button type="submit" class="btn btn-primary mt-3 save_submit"></i>Sauvegarder dans cette liste</button>
            </form>
          </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
  {% empty %}
  <div>Pas de produits trouvés</div>
  {% endfor %}
  <datalist id="tags">
  {% for tag in fav_tags %}
  <option>{{ tag }}</option>
  {% endfor %}
  </datalist>
</div>
</div>
